<div class="box-2">
  <h3>Accommodation</h3>
  <p>Many of us will be staying at the Premier Inn Hull North (in Kingswood) on the eve of the wedding and the night of the wedding too. If you need somewhere to stay for either night, you may wish to join us at the same hotel.</p>
  <p>It's located alongside a few restaurants and just a 5-10 minute drive/taxi ride from the venue.</p>
  <div class="link-container">
    <a href="https://www.premierinn.com/gb/en/hotels/england/east-riding-of-yorkshire/hull/hull-north.html"><button>Click Here for Hotel Website/Booking</button></a>
  </div>
  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=premier%20inn%20hull%20north&t=&z=16&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
  </div>
  <p>However, plenty of other hotels are available if you prefer.</p>
</div>
