<div class="box-1">
  <h3>Gifts</h3>
  <p>Your company on our big day is the greatest gift of all.</p>
  <p>We already have all the physical items we need for our married lives together so we politely ask for no gifts. If you'd really like to give us something, we would be immensely grateful for a contribution to our honeymoon.</p>
  <p>We have a honeymoon fund page which you can visit by <a href="https://mytc.travelcounsellors.com/Payments/Honeymoon" target="_blank">clicking here</a> and entering the honeymoon reference 2541353</p>
</div>
